@charset "utf-8";
@import "base.css";

* {
    font-family: monospace;
}

body {
    background-color: #e0e0e0;
    background-image: url("assets/Money.jpg");
}

header li a {
    text-decoration: none;
    color: #e0e0e0;
  }

  
  header {
      width: 100%;
      top: 0px;
      position: fixed;
      padding: 30px;
      background: hsla(0,0%, 100%, 0);
      -webkit-backdrop-filter: blur(30px);
      backdrop-filter: blur(30px);
  }

  .nav-bar {
      list-style: none;
  }
  
  .nav-bar li {
      display: inline-block;
      margin: 0 0 0 2rem;
      padding: 0 2rem 0 0;
      color: cadetblue;
  }
  
  .nav-links a {
      transition: all 0.5s ease 0s;
  }

  .nav-links {
      margin-left: 55rem;
  }


/* Header Section Over */

#image {
    z-index: -100;
    background-image: url("assets/Money.jpg");
    height: 100vh;
    width: 100vh;
    position: relative;
    background-size: cover;
}

.text-box1 {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin: 15rem;
    padding: 5rem;
    color: #e0e0e0;
    position: absolute;
}

h6 {
    font-size: 12px;
}

.button1 {
    font-size: 18px;
    color: #000;
    border-radius: 50px;
    background-color: cadetblue;
    text-decoration: none;
    padding: 1rem;
}
/* 
.button1:hover a {

} */

.button1 a:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

#section2 {
    text-align: center;
    padding: 10rem;
    margin: 0 10rem 0 10rem;
}





p {
    padding-bottom: 8rem;
}

.big-image {
    z-index: -100;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
  }
  
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .overlay h1 {
    font-size: 65px;
    letter-spacing: 0px;
    margin: 0 0 5px;
  }
  
  .overlay p {
    margin: 0;
    font-size: 28px;
  }

  #img2 {
      width: 600px;
      height: 350px;
      padding-bottom: 8rem;
  }
